body {
    margin: 0;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 5000px;
}

.scroller {
    position: fixed;
    left: 0;
    top: 0;
    height: 4px;
    width: 0;
    background-color: #0075ff;
    z-index: 9999;
}